
<%if current_user.admin == true%>
  <button>  <a  href="/admin">Admin Panel</a> </button>
<%end%>
<%@exercises.each  do |a|%>
    <%=link_to "Start Exercise#{a.id}", exercise_path(a.id)%><br>
<%end%>